*{
    font-family: Arial, Helvetica, sans-serif;

}
body{
    margin:0;
    background-color: #dadada;
}
a{
    text-decoration: none;
}
ul {
    padding:0;
    list-style: none;
}

/*header*/
header{
    width: 100vw;
    margin: 1 auto;
    background-color: #fcfcfc;
    display: block;
}
h1{
    color:#ff5e00;
    font-size: 3em;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #ff5e00;
    padding: 0 3em;
}
nav a{
    color: #fff;
    padding: 1em;
    margin: 0;
}
 nav a:hover{
    background-color: #b94400;
} 
#menuheader ul{
    display: flex;
    margin:0;
}
#menuheader li{
    /* margin-left:2vw; */
    padding:  1em 0;
    margin: 0; 
}
/* #menuheader li :hover{
    background-color: #b94400;
} */
#busquedaheader{
    margin: auto 0;
    height: 1.5em;
}
#cabecera{
    display: flex;
}
#logo{
    margin: auto 3em;
    padding: 0.5em 0;

}

/*Main*/
.main{
    width: 80vw;
    margin: 0 auto;
}
.main li{
    padding: .25em 0;
}
h3{
    margin:0;
    color:#ff5e00;
}
.artAside{
    padding: 1.5em 1em;
    margin: 1em 0;
    background-color: #f3f3f3;
    box-shadow: 0px 2px 9px #686868; 
    border-radius:0.4vw;
}
.artAside a{
    color: #000000;
}
.artAside a:hover{
    color:#ff5e00;
}
h2{
    margin:0;
    color:#ff5e00;
}
.artMain{
    background-color: #ffffff;
    padding: 1.5em;
    margin:1em 0;
    box-shadow: 0px 2px 9px #686868; 
    border-radius:0.4vw;
}
.main img{
    height:70%;
    width: 70%;
}

/*Footer*/
footer{
    background-color: #1f1d1c;
    color: #fff;
    width: 100vw;
    margin: 0 auto;
    padding: 1em 3em;
}
footer p{
    margin: 0;
}
footer a{
    color: #fff;
}
footer a:hover{
    color:#ff5e00;
}
footer li{
    padding: .25em 0;
}
h4{
    margin: .5em 0;
}

/*Retícula*/


.fila {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
    
}

.cols, .una-col, .dos-col, .tres-col, .cuatro-col, .cinco-col, .seis-col, .siete-col, .ocho-col, .nueve-col, .diez-col, .once-col, .doce-col {

    margin: 1rem 0 !important;
    padding: .5rem;

}

.una-col {
    grid-column-end: span 1;
}
.dos-col {
    grid-column-end: span 2;
}
.tres-col {
    grid-column-end: span 3;
}
.cuatro-col {
    grid-column-end: span 4;
}
.cinco-col {
    grid-column-end: span 5;
}
.seis-col {
    grid-column-end: span 6;
}
.siete-col {
    grid-column-end: span 7;
}
.ocho-col {
    grid-column-end: span 8;
}
.nueve-col {
    grid-column-end: span 9;
}
.diez-col {
    grid-column-end: span 10;
}
.once-col {
    grid-column-end: span 11;
}
.doce-col {
    grid-column-end: span 12;
}
.linea-2{
    grid-column-start: 2;
}
.linea-3{
    grid-column-start: 3;
}
.linea-4{
    grid-column-start: 4;
}
.linea-5{
    grid-column-start: 5;
}
.linea-6{
    grid-column-start: 6;
}
.linea-7{
    grid-column-start: 7;
}
.linea-8{
    grid-column-start: 8;
}
.linea-9{
    grid-column-start: 9;
}
.linea-10{
    grid-column-start: 10;
}
.linea-11{
    grid-column-start: 11;
}
.linea-12{
    grid-column-start: 12;
}

/* AUXILIARES FLEXBOX */

.flexible {
    display: flex;
}
.cols {
    flex: 1; /* Para columnas del mismo ancho */
}
.centrar-h {
    justify-items: center;
}
.arriba {
    align-items: flex-start;
}
.arriba-hijo {
    align-self: flex-start;
}
.centrar-v {
    align-items: center
}
.centrar-v-hijo {
    align-self: center;
}
.abajo {
    align-items: flex-end
}
.abajo-hijo {
    align-self: flex-end
}
.alrededor {
    justify-content: space-around
}
.entre {
    justify-content: space-between
}
.primero {
    order: -1;
}
.ultimo {
    order: 1;
}
.fila-flex-inversa {
    flex-direction: row-reverse
}
.columna-flex {
    flex-direction: column
}
.columna-flex-inversa {
    flex-direction: column-reverse
}